name: DevOps CI/CD Pipeline

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Login to DockerHub
      uses: docker/login-action@v3
      with:
        username: vasanthaagulla
        password: Vasantha63!@

    - name: Build Docker Image
      run: |
        docker build -t vasanthaagulla/vasantha-site:latest .

    - name: Push Docker Image
      run: |
        docker push vasanthaagulla/vasantha-site:latest

    - name: Deploy to Kubernetes
      uses: azure/k8s-deploy@v4
      with:
        manifests: |
          k8s.yaml
